body {
  background-image: url("tic-tac-toe.jpg");
  font-size: 25px;
  font-family: 'Maven Pro', sans-serif;
}

table td{
  border: 3px solid black;
  padding: 10px 30px;
  text-align: center;
  font-size: 100px;
  min-width: 100px;
  min-height: 100px;
}

td {
  width: 100px;
  height: 100px;
}

#board {
  margin: 0 auto;
  width: 524px;
}
#c1 {
  border-top: 0;
  border-left: 0;
}
#c2 {
  border-top: 0;
}
#c3 {
  border-right:0;
  border-top: 0;
  }
#c4 {
    border-left: 0;
  }
#c6 {
  border-right: 0;
}
#c7 {
  border-left: 0;
  border-bottom: 0;
}
#c8 {
  border-bottom: 0;
}
#c9 {
  border-right: 0;
  border-bottom: 0;
}
/* h1 {
  text-align: center;
  color: #08080878;
  font-style: italic;
  font-size: 70px;
} */

button{
  color: #fbf5f5;
  padding: 5px 5px;
  background-color: #8c8080;
  font-size: 30px;
}

#page1{
  /* background-color: white; */
  width: 500px;
  padding-bottom: 10px;
  text-align: center;
  margin: 150px auto;
}

button {
  margin: 10px;
  padding: 5px 20px;
}

#page3 {
  display: none;
}

#page2 {
  width: 400px;
  padding-bottom: 10px;
  text-align: center;
  margin: 150px auto;
  display: none;
}
input {
  font-size: 20px;
  /* margin-top: 5px; */
  padding: 5px;

}
p {
  margin: 10px;
}
div.result {
text-align: center;
width: 400px;
position: absolute;
left: 500px;
top: 0px;
display:none;
}
iframe {
  width:300px;
  height:300px;
}

div.score {
  margin-left: 10px;
  text-align: left;
  width: 200px;
}

span.playerturn {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
}
span.player2turn {
  visibility: hidden;
}

td:hover{
  background-color: #0c0b0b2e;
}
div.score h4 {
  margin: 25px 0 0 50px;
}
